body{
    background: steelblue;
}

.calculator{
    font-size: 40px;
    font-family: sans-serif;
    display: grid;
    grid-grid-template-columns: repeat(4, 1fr);
    grid-grid-auto-rows: minmax(50px, auto);
    width: 400px;
    margin:0 auto ;
    text-align: center;
    
}
.display{
    grid-column: 1 / 5;
    background: rgba(0, 0, 0, 0.09);
    color: #fff;
}
.btn{
    background: #eee;
    border: 1px solid #999 ;
    cursor: pointer;
}
.zero{
    grid-column: 1 / 3;
}
.operator{
    background-color: orange;
    color: white;
}